@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
html, body{
    height: 100%;
    font-family: "Inter", sans-serif;
}

.blog-posts{
    border: solid 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 700px;
    border-radius: 25px;
    padding: 15px;
}

.title {
    margin: 5px;

}